$dark-bg: #12131C
$black: #1B1B1F
$blue: #000055
$magenta: #FF267E
$green-light: #00BB96
$green: #05C48A
$green-shadow: #3F966F
$white: #FFF
$grey-light: #FFFFFFCC
$grey:  #FFFFFF66

$font-montserrat-medium: Montserratƒ-Medium, sans-serif // 500
$font-montserrat-semiBold: Montserrat-SemiBold, sans-serif // 600
$font-montserrat-bold: Montserrat-Bold, sans-serif // 700
$font-montserrat-extraBold-it: Montserrat-ExtraBoldItalic, sans-serif // 800

$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-suisse-intl-bold: SuisseIntl-Bold, sans-serif