$blue: #000055
$white: #ffffff
$magenta: #FF267E
$green: #05C48A
$black: #1B1B1F
$grey: #AEAEAE

$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-suisse-intl-bold: SuisseIntl-Bold, sans-serif

.hide
  display: none !important


body.light
  background: $blue


body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $blue
  img
    max-width: 100%
    height: auto
  & > *
    font-family: inherit

.fav-page
  background: $blue
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden



// loader

.spinner-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $white
  display: flex
  justify-content: center
  align-items: center
  z-index: 8

.spinner
  width: 60px
  height: 60px
  background: url("../img/loader.svg") no-repeat 0 0/contain
  animation: scale .7s alternate infinite

.fav-page.loading
  max-height: 100vh
  overflow: hidden


.table
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 405px
  min-height: 440px
  z-index: 1
  &__tabs
    display: flex
    align-items: center
    justify-content: center
    gap: 6px
    margin-bottom: 20px
    &-item
      display: flex
      justify-content: center
      align-items: center
      font-size: 16px
      &.active
        background-color: $magenta
      &:hover
        background: $magenta
      span
        font-family: inherit
        margin-right: .3em

  &__body
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
  &__row
    display: flex
    width: 100%
    align-items: center
    position: relative
    &.you
      background: $white
      .table__row-item
        color: $blue
      .you
        //font-family: $font-favbet-text-reg
        text-transform: uppercase
        margin-left: 5px
    &-item
      display: flex
      align-items: center
      justify-content: center
      color: $white
      //font-family: $font-suisse-intl-reg
      font-size: 12px
    &.place1, &.place2, &.place3
      .you
        position: absolute
        left: -7px
        top: 50%
        transform: translate(-100%, -50%)
        color: white
      .table__row-item
        &:nth-child(1)
          &::after
            content: ""
            display: block
            width: 20px
            height: 22px
            margin-left: 5px
    &.place1
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/gold.png") no-repeat 0 0/contain
    &.place2
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/silver.png") no-repeat 0 0/contain
    &.place3
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/bronze.png") no-repeat 0 0/contain
  &__head
    width: 100%
    display: flex
    align-items: center


.drop
  max-width: 605px
  width: 100%
  margin: 0 auto
  border-radius: 10px
  position: relative
  z-index: 5
  &__bottom-text
    color: $white
    font-size: 10px
    line-height: 16px
    //font-family: $font-suisse-intl-reg
    text-align: center
    margin-bottom: 15px
  .dropdown[open] summary::before
    transform:  rotate(180deg)
  summary
    list-style: none
    padding: 8px 15px
    //font-family: $font-suisse-intl-reg
    font-size: 14px
    cursor: pointer
    background-size: 100% 100%
    display: flex
    align-items: center
    justify-content: space-between
    color: $white
    @media screen and (max-width: 600px)
      font-size: 14px
      line-height: 22px
    &::before
      content: ""
      display: block
      min-width: 20px
      height: 12px
      //background: url("../img/arrow-drop.png") no-repeat 0 0/contain
      order: 2

  &-txt
    padding: 15px
    margin-top: 10px
    max-height: 350px
    overflow-y: auto
    border: 1px solid $white
    scrollbar-width: auto
    &::-webkit-scrollbar-thumb
      background: $green
      width: 3px
      border-radius: 3px
    &::-webkit-scrollbar
      background: $white
      width: 3px
    &-list
      display: flex
      flex-direction: column
      gap: 15px
      table
        border-spacing: 0
        border-color: $white
        tr, td
          border-color: $white
          color: $white
          //font-family: $font-suisse-intl-reg

        td
          border: none
          border-right: 1px solid $white
          padding: 0 5px
        th
          padding: 0 5px
      p, strong, a
        font-size: 16px
        line-height: 26px
        //font-family: $font-suisse-intl-reg
        color: $white
        @media screen and (max-width: 600px)
          font-size: 14px
          line-height: 22px
      span
        //font-family: $font-suisse-intl-reg
        display: block
      tr,td
        //font-family: $font-suisse-intl-reg
      td
        padding-left: 5px


.retreat1
  padding-left: 30px
  strong
    font-family: $font-suisse-intl-bold
    color: $white
.circle
  padding-left: 35px
  &:before
    content: ''
    width: 5px
    height: 5px
    background: $white
    border-radius: 50%
    display: inline-block
    margin: 0 4px 2px 0


body.dark
  .spinner-overlay
    background: $black

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes scale
  0%
    transform: scale(.8)
  100%
    transform: scale(1)
