
.fav-page.loading
    .spinner-overlay
        .spinner
    .table
        .table__tabs
            .table__tabs-item.active(data-week="1") #[span(data-translate="tableTab") Faza] 1
            .table__tabs-item(data-week="2") #[span(data-translate="tableTab") Faza] 2
        .table__head
            .table__row
                .table__row-item(data-translate="tablePlace") [ MJESTO ]
                .table__row-item(data-translate="tableId") [ ID ]
                .table__row-item(data-translate="tablePoints") [ BODOVI ]
                .table__row-item(data-translate="tablePrize") [ NAGRADA ]
        .table__body#table
            .table__row.place1.you
                .table__row-item 01 #[span.you(data-translate="you") ti]
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row.palce2
                .table__row-item 02
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row.palce3
                .table__row-item 03
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 04
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 05
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 06
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 07
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 08
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 09
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 10
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
        .table__body#tableOther
            .table__row
                .table__row-item 38
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row.you
                .table__row-item 39 #[span.you(data-translate="you") ti]
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]
            .table__row
                .table__row-item 40
                .table__row-item 4538***
                .table__row-item 32.9
                .table__row-item 350 € #[span.table-coin]